<!DOCTYPE html>
<html>

  <head>
    <title>Mecanicook</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  </head>

  <body>
    <div id="bodywrap">
      <div id="header">
	<div id="logo">
	  <img src="{{ STATIC_URL }}img/logo.png" id="logo_img" />
	</div>
	<h1>Mecanicook (RoboChef)</h1>
	<h2>Me, Can I Cook?</h2>
      </div>

      <div id="content">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>

</html>
