<!DOCTYPE html>
<html>

  <head>
    <title>Mecanicook</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  </head>

  <body>
    <div id="header">
      <div id="logo">
	<img src="{{ STATIC_URL }}img/logo.png" />
      </div>
      <h1>Mecanicook</h1>
      <h2>Me, Can I Cook?</h2>
    </div>

    <div id="content">
      <p>
	quarter wire transfer Kh-11 Gazprom e-cash condor Firewalls colonel Treasury
	M-14 Jyllandsposten Putin MD4 Geraldton benelux
      </p>
    </div>
  </body>

</html>
