{% extends "base.html" %}
{% block content %}

  <h3>What is my Purpose?</h3>
  <p>I was manufactured in order to produce original recipes for optimal consumption by homo sapiens.</p>
  <h3>Allow me to Serve</h3>
  <form method="POST" action="/genetic/">
    {% csrf_token %}
    <div>
      <label for="fitness_func">I want a recipe that is</label>
      <input type="radio" name="fitness_func" value="balanced" checked="checked"><strong>balanced</strong><br />
      <input type="radio" name="fitness_func" value="healthy"><strong>healthy</strong><br />
      <input type="radio" name="fitness_func" value="dank"><strong>dank</strong><br />
    </div>
    <input type="submit" value="Actuate" />
  </form>

{% endblock %}
